{% extends "clear/main/base.html" %} <!--extends base template to inherit its structure & layout-->

<!-- Create nav_item_pollution block that is active when page rendered -->
{% block nav_item_pollution %}active{% endblock nav_item_pollution %}

<!--Main block-->
{% block content %}

    <head>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    </head>

    <body>
        <!--Main title-->
        <div class="container">
           <div class="row justify-content-center">
               <h1 class="display-4">POLLUTION </h1>
           </div>
        </div>

        <div style="padding: 0px 100px 30px 100px"> <!--borders around main page.-->
            <!--Main row divided into two columns-->
            <div class="row">
                <!--Column one for map-->
                <div class="col-8 test2" style="padding-right: 45px">
                    <div class="row justify-content-center">
                        <h2 class="display-4" >Map of London</h2>
                    </div>
                    <div id='map' width="100%" style='height:600px'></div>
                    <div class="card mt-2">
                        <div class="card-header"><h5>Best Places to Live (All Time)</h5></div>
                        <div class="card-body">
                            <ol>
                                {% for b in top5_boroughs %}<li>{{ b.OutwardName }} ({{ b.average_pollution }})</li>{% endfor %}
                            </ol>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header"><h5>Boroughs with Current Worst Pollution</h5></div>
                        <div class="card-body">
                            <ol>
                                {% for b in current_worst5_boroughs %}<li>{{ b.borough.OutwardName }} ({{ b.pollution_level }})</li>{% endfor %}
                            </ol>
                        </div>
                    </div>



                </div>

                <!--Column two for pollution warnings in current location-->
                <div class="col-4 test1">
                    <div class="row justify-content-center">
                        <h2 class="display-4" >Current Levels</h2>
                    </div>

                    <!--Dropdown button to set current location-->
                    <div class="dropdown">
                        <!--What is displayed on dropdown-->
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        Choose Current Location
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--Menu populated by for loop that iterates over borough names in database-->
                            {% for borough in borough_choices %}
                                <a class="dropdown-item" href="/clear/pollution/set_current_location/{{ borough.id }}">{{ borough.OutwardName }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-header">
                            <h5 class="mb-0">{{ user_boroughs.current_borough.OutwardName }}{% if current_borough_levels.pollution_level >= user.pollution_limit %} &nbsp;<i title="This level is above your pollution limit" class="fa-solid fa-triangle-exclamation text-danger"></i> {% endif %}</h5>
                        {% if current_borough_levels.pollution_level >= user.pollution_limit %}<p class="small text-danger mb-0">Warning: Above limit</p>{% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-striped table-borderless">
                                <tbody>
                                <tr><th>Average</th><td>{{ current_borough_levels.pollution_level }}</td></tr>
                                <tr><th>NO2</th><td>{{ current_borough_levels.pollution_level_no2 }}</td></tr>
                                <tr><th>SO2</th><td>{{ current_borough_levels.pollution_level_so2 }}</td></tr>
                                <tr><th>O3</th><td>{{ current_borough_levels.pollution_level_o3 }}</td></tr>
                                <tr><th>PM10</th><td>{{ current_borough_levels.pollution_level_pm10 }}</td></tr>
                                <tr><th>PM2.5</th><td>{{ current_borough_levels.pollution_level_pm2_5 }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header">
                            <h5 class="mb-0">{{ user_boroughs.home_borough.OutwardName }}&nbsp;(Home){% if home_borough_levels.pollution_level >= user.pollution_limit %} &nbsp;<i title="This level is above your pollution limit" class="fa-solid fa-triangle-exclamation text-danger"></i> {% endif %}</h5>
                        {% if home_borough_levels.pollution_level >= user.pollution_limit %}<p class="small text-danger mb-0">Warning: Above limit</p>{% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-striped table-borderless">
                                <tbody>
                                <tr><th>Average</th><td>{{ home_borough_levels.pollution_level }}</td></tr>
                                <tr><th>NO2</th><td>{{ home_borough_levels.pollution_level_no2 }}</td></tr>
                                <tr><th>SO2</th><td>{{ home_borough_levels.pollution_level_so2 }}</td></tr>
                                <tr><th>O3</th><td>{{ home_borough_levels.pollution_level_o3 }}</td></tr>
                                <tr><th>PM10</th><td>{{ home_borough_levels.pollution_level_pm10 }}</td></tr>
                                <tr><th>PM2.5</th><td>{{ home_borough_levels.pollution_level_pm2_5 }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header">
                            <h5 class="mb-0">{{ user_boroughs.work_borough.OutwardName }}&nbsp;(Work){% if work_borough_levels.pollution_level >= user.pollution_limit %} &nbsp;<i title="This level is above your pollution limit" class="fa-solid fa-triangle-exclamation text-danger"></i> {% endif %}</h5>
                        {% if work_borough_levels.pollution_level >= user.pollution_limit %}<p class="small text-danger mb-0">Warning: Above limit</p>{% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-striped table-borderless">
                                <tbody>
                                <tr><th>Average</th><td>{{ work_borough_levels.pollution_level }}</td></tr>
                                <tr><th>NO2</th><td>{{ work_borough_levels.pollution_level_no2 }}</td></tr>
                                <tr><th>SO2</th><td>{{ work_borough_levels.pollution_level_so2 }}</td></tr>
                                <tr><th>O3</th><td>{{ work_borough_levels.pollution_level_o3 }}</td></tr>
                                <tr><th>PM10</th><td>{{ work_borough_levels.pollution_level_pm10 }}</td></tr>
                                <tr><th>PM2.5</th><td>{{ work_borough_levels.pollution_level_pm2_5 }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header">
                            <h5 class="mb-0">{{ user_boroughs.other_borough.OutwardName }} (Other){% if other_borough_levels.pollution_level >= user.pollution_limit %} &nbsp;<i title="This level is above your pollution limit" class="fa-solid fa-triangle-exclamation text-danger"></i> {% endif %}</h5>
                        {% if other_borough_levels.pollution_level >= user.pollution_limit %}<p class="small text-danger mb-0">Warning: Above limit</p>{% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-striped table-borderless">
                                <tbody>
                                <tr><th>Average</th><td>{{ other_borough_levels.pollution_level }}</td></tr>
                                <tr><th>NO2</th><td>{{ other_borough_levels.pollution_level_no2 }}</td></tr>
                                <tr><th>SO2</th><td>{{ other_borough_levels.pollution_level_so2 }}</td></tr>
                                <tr><th>O3</th><td>{{ other_borough_levels.pollution_level_o3 }}</td></tr>
                                <tr><th>PM10</th><td>{{ other_borough_levels.pollution_level_pm10 }}</td></tr>
                                <tr><th>PM2.5</th><td>{{ other_borough_levels.pollution_level_pm2_5 }}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Import jQuery & CDN-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>

            $.get("{% url 'getboroughdata' %}", function(data) {   // access data from urls.py-->
                mapboxgl.accessToken = 'pk.eyJ1IjoiY2Fzc3lkbzAyIiwiYSI6ImNsY2R1dXYwbTRtMWczd21uMWM2ZGtxd24ifQ.NhYgnpmMpFsO_mtwOmzYsw'; <!--Mapbox token to access the map-->
                var map = new mapboxgl.Map({
                    container: 'map',   // add to div with id of 'map'
                    style: 'mapbox://styles/mapbox/streets-v10', // style of map
                    center: [-0.163611, 51.500610], // starting position [lng, lat] in London
                    zoom: 10 // starting zoom
                });

                map.on('load', () => {
                    // Add a data source containing GeoJSON data with all the polygons.
                    map.addSource('maine', {
                        'type': 'geojson',
                        'data': data
                    });


                    // Add a new layer to visualize the polygon.
                    map.addLayer({
                        'id': 'zip-codes',
                        'type': 'fill',
                        'source': 'maine', // reference the data source
                        'layout': {},
                        'paint': {
                            'fill-color': ['get', 'color'],
                            'fill-opacity': 0.5
                        }
                    });

                    // Add a black outline around the polygon.
                    map.addLayer({
                        'id': 'outline',
                        'type': 'line',
                        'source': 'maine',
                        'layout': {},
                        'paint': {
                            'line-color': '#000',
                            'line-width': 3
                        }
                    });
                });
            });
        </script>
    <body>
{% endblock content %}
